<div class='latexblock'>
  <img src='<%= url_for(:controller => 'wiki_latex', :action => 'image', :image_id => image_id) %>' alt='<%= source %>' />
  <span class='wiki_page'>Goto source: [[<%= wiki_name %>]]</span>
</div>
